
/* Layout */


/* ========================================================================== */
.settings-col{ 
    background: rgb(255, 255, 255); 
    overflow: hidden; 
    height: 100vh; /* Adjust height as needed */ 

} 

/* Logo */
.logo {
    margin-top: 40px;
    padding: 20px; 
    font-size: 20px;
}

/* Buttons in this area */
.btn a{
    color: #000; 
    text-decoration: none; 
}
.logout-btn{
    width: 100px; 
    border-radius: 20px; 
}
/* menu */ 
.menu-list {
    width: 190px; 
}
.menu-list a{
    font-size: 16px; 
    margin-left: 0%;
    text-align: left; 
    border: none;
    /* background-color: #333; */
}
.menu-list a:hover{
    border-radius: 20px; 
}
.menu-list i{
    margin-right: 10px; 
}


/* ========================================================================== */
.content-col{
    position: sticky;
    background-color: rgb(255, 255, 255); 
    overflow-y: auto; 
    height: 100vh; 
    z-index: 1000; 
} 


/* fancy scrollbar */ 

/* Hide the default scrollbar */
.content-col::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
.content-col::-webkit-scrollbar-track {
    background: #eff3f4; 
    border-radius: 5px;
}

/* Handle */
.content-col::-webkit-scrollbar-thumb {
    background: #bdc0c1; 
    border-radius: 5px;
}

/* Handle on hover */
.content-col::-webkit-scrollbar-thumb:hover {
    background: #727374; 
}
/* end of fancy scrollbar */ 

.content-heading {
    background-color: #fffffffa; 
    border-bottom: 1px solid #f3f3f3; 
    filter: blur(5);
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content-heading .row .col{  
    padding: 30px; 
    /* background: #ffffff00;  */
} 

.content-heading h2{
    font-size: 18px; 
}

.active_line{
    height: 4px; 
    width: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 5px; 
    background-color: black; 
} 

.active {
    display: block; 
} 

.not_active {
    display: none; 
}

.for_you, .following{
    background-color: #ffffff;
} 

.for_you:hover{
    background-color: #efefef; 
    cursor: pointer; 
}
.following:hover{
    background-color: #efefef; 
    cursor: pointer; 
}


/* posts */
.post{
    position: relative; 
    padding: 10px; 
    background-color: #ffffff; 
    margin-top: 10px; 
    border-bottom: 1px solid #ccc;
} 

.post:hover {
    background-color: #f7f7f7; 
    cursor: pointer; 
}

.post:hover .post-header {
    /* Apply styles to the post header when the post is hovered */
    background-color: #f7f7f7; /* Change background color */
}

.post:hover .post-content {
    /* Apply styles to the post content when the post is hovered */
    background-color: #f7f7f7;/* Change text color */
}

.post:hover .post-footer {
    /* Apply styles to the post footer when the post is hovered */
    background-color: #f7f7f7; /* Add border to the top */
}
.post:hover .post-metadata .col {
    /* Apply styles to the post footer when the post is hovered */
    background-color: #f7f7f7; /* Add border to the top */
}


.post-header{
    position: relative; 
    background-color: rgb(255, 255, 255); 
    height: 50px; 
    padding: 5px; 
} 
.post-author-pic{
    width: 45px; 
    border: 60%; 
} 
.post-author {
    position: absolute; 
    left: 60px; 
    top: 10px; 
    font-weight: bold; 
    font-size: 16px;
}
.post-content {
    background: #ffffff; 
    padding-top: 10px;
}
.remark {
    position: relative; 
    padding-left: 10px; 
    color: #1a8cd8; 
    font-weight: bold; 
}
.post-title {
    position: relative; 
    padding-left: 10px; 
} 
.post-actions {
    position: relative; 
    padding-left: 10px; 
}
.post-actions button { 
    margin-top: -10px; 
    width: 200px; 
    font-size: 14px; 
    font-weight: bold;
    border: 2px solid #1a8cd8; 
    background-color: #1a8cd8; 
    color: #fff; 
} 
.post-actions button:hover{
    outline: #000; 
    background-color: #fff; 
    border: 2px solid #1a8cd8; 
    color: #1a8cd8; 
}
.post-footer{
    position: relative;
    background-color: rgb(255, 255, 255); 
} 
.post-date{
    position: relative; 
    padding-top: 10px; 
    padding-left: 20px; 
}
.post-date li{
    float: left; 
    /* padding-left: 20px;  */
    list-style: none; 
    font-size: 14px; 
} 
.post-metadata {
    padding: 10px; 
    font-size: 13px; 
    font-weight: bold; 
    color: #777; 
} 
.post-metadata i {
    font-size: 16px; 
}
.post-metadata .col {
    background: #ffffff; 
    padding: 5px; 
}
.post-metadata .col:hover {
    /* background: #ebebeb;  */
    cursor: pointer; 
    color: #333; 
} 




/* ========================================================================== */
.sidebar-col{
    background: rgb(255, 255, 255); 
    height: 100vh; 
    overflow: hidden;  
} 

.search-row { 
    position: relative;
    padding: 8px; 
    /* background-color: #333; */
}

.search-row i {
    position: absolute; 
    top: 20px; 
    left: 30px; 
    z-index: 100; 
    font-size: 12px; 
 }

.search-box {
    position: relative;
    width: 100%; 
    padding: 10px; 
    padding-left: 45px; 
    border-radius: 30px; 
    border: 1px solid #efefef; 
    background-color: #efefef; 
    font-size: 14px;

    outline-color: #777; 
    outline-width: 1px;  
} 

.search-box:focus{
    /* outline: ; */  
    background-color: #ffffff; 
    border: 1px solid #1a8cd8; 

    outline: none;
    outline-color: #1a8cd8; 
    outline-width: 1px; 
}

.trending-reports {
    position: relative; 
    background-color: #f7f9f9; 
    margin-top: 20px; 
    padding-top: 5px; 
    padding-bottom: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.trending-reports h4 {
    font-size: 16px; 
    font-weight: bold; 
    margin-bottom: 20px;
} 

.trending-reports .list-group-item {
    position: relative;
    border-radius: 0px; 
    background-color: #f7f9f9; 
    border: none; 
    height: 75px; 
    font-size: 12px;
} 

.trending-reports .list-group-item:hover{ 
    background-color: #eeeeee; 
    cursor: pointer; 
}
/* report format */ 
.menu {
    position: absolute; 
    top: 10px; 
    right: 10px;  
    text-align: center;
    width: 40px;
    height: 35px; 
    border-radius: 80px; 
    background-color: #f7f9f9; 
    border: 1px solid #f7f9f9; 
}
.menu i { 
    /* position: absolute;  */
    text-align: center;
    padding: 10px; 
    font-weight: bold; 
    border-radius: 20%;  
    font-size: 20px; 
}

.menu:hover{
    background-color: #eeeeee; 
    border: 1px solid #ccc; 
}

.category {

    font-size: 12px;
} 

.keyword {
    font-weight: bold; 
    font-size: 14px;
}


/* ================================================================ */

#infinite-scroll {
    /* overflow-y: scroll; */
    /* height: 80vh; Adjust height as needed */
}

#limited-scroll {
    /* overflow-y: scroll; */
    /* height: 80vh; Adjust height as needed */
    /* max-height: 400px; Set maximum height  */
}
