
/* Layout */


/* ========================================================================== */
.settings-col{ 
    background: rgb(255, 255, 255); 
    overflow: hidden; 
    height: 100vh; /* Adjust height as needed */ 

} 

/* Logo */
.logo {
    margin-top: 40px;
    padding: 20px; 
    font-size: 20px; 
    cursor: pointer; 
}

.logo a {
    color: #000; 
    text-decoration: none; 
    font-weight: bold; 
}

/* Buttons in this area */
.logout-btn a{
    color: #000 !important; 
    text-decoration: none; 
}
.logout-btn{
    width: 100px; 
    border-radius: 20px; 
    border:none; 
    font-size: 14px; 
    padding: 8px; 
    background-color: #fafafa;
} 

.logout-btn:hover{ 
    color: #000; 
    background-color:#efefef; 
}
/* menu */ 
.menu-list {
    width: 150px; 
}
.menu-list a{
    font-size: 14px; 
    margin-left: 0%;
    text-align: left; 
    border: none; 
    font-weight: bold;
    /* background-color: #333; */
}
.menu-list a:hover{
    border-radius: 20px; 
    background-color: #efefef;
}
.menu-list i{
    margin-right: 10px; 
}


/* ========================================================================== */
.content-col{
    position: sticky;
    background-color: rgb(255, 255, 255); 
    overflow-y: auto; 
    height: 100vh; 
    z-index: 1000; 
} 


/* fancy scrollbar */ 

/* Hide the default scrollbar */
.content-col::-webkit-scrollbar {
    width: 4px; 
}

  
/* Track */
.content-col::-webkit-scrollbar-track {
    /* background: #eff3f4;  */
    background: transparent; 
    border-radius: 5px; 
}

/* Handle */
.content-col::-webkit-scrollbar-thumb {
    background: #bdc0c1; 
    border-radius: 5px; 
}

/* Handle on hover */
.content-col::-webkit-scrollbar-thumb:hover {
    background: #727374; 
}
/* end of fancy scrollbar */ 

.content-heading {
    background-color: #fffffffa; 
    border-bottom: 1px solid #f3f3f3; 
    filter: blur(5);
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content-heading .row .col{  
    padding: 30px; 
    /* background: #ffffff00;  */
} 

.content-heading h2{
    font-size: 14px; 
}

.active_line{
    height: 4px; 
    width: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 5px; 
    background-color: black; 
} 

.active {
    display: block; 
} 

.not_active {
    display: none; 
}

.for_you, .following{
    background-color: #ffffff;
} 

.for_you:hover{
    background-color: #efefef; 
    cursor: pointer; 
}
.following:hover{
    background-color: #efefef; 
    cursor: pointer; 
}

/* posting ui */
.posting-ui{
    position: relative; 
    padding: 10px; 
    background-color: #ffffff; 
    border-bottom: 1px solid #ccc;
}

.profile-pic{
    position: absolute; 
    top: 5px; 
    left: 10px; 
    width: 40px; 
    border-radius: 60%; 
} 
.profile-pic:hover{
    cursor: pointer; 
}

.whats-happening {
    position: relative; 
    width: inherit; 
}

.whats-happening input {
    width: 100%;  
    padding-top: 10px; 
    padding-bottom: 17px; 
    padding-left: 60px; 
    border: none; 
    font-size: 14px; 
    font-weight: bold; 
}

.whats-happening input:focus {
    outline:none; 
} 
.icons {
    position: relative; 
    padding: 5px; 
    margin-top: 10px; 
    background-color: #ffffff; 
} 
.icon-group{
    background-color: #ffffff;
    padding-left: 50px;  
} 
.icon-group i{
    color:#1d9bf0; 
    font-weight: bold; 
    margin:5px; 
} 
.icon-group i:hover{
    cursor: pointer; 
    color:#1578b9; 
}
.post-button {
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    font-weight: bold; 
    font-size: 12px !important; 
    border: none; 
    border-radius: 20px; 
    width: 80px; 
    padding: 5px; 
    color: #ffffff; 
    background-color: #8ecdf7;
}  


.poll-container {
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
    background: transparent; 
    width: 55%; 
    padding: 20px; 
    padding-bottom: 75px;
    border-radius: 10px; 
    border: 1px solid #d8d8d8; 
    margin-bottom: 10px;
}
.poll-choices {
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
    background: transparent; 
    width: 100%; 
    padding: 5px; 
}
.poll-choice {
    position: relative; 
    /* margin-left: 35px;  */
    margin-bottom: 10px; 
    padding: 5px; 
    width: 100%; 
    font-size: 14px; 
    border-radius: 5px;
    border: 1px solid #d8d8d8; 
} 
.poll-choices label {
    margin-left: 0px !important;  
}
.poll-container label{
    margin-left: 10px;  
    font-size: 14px; 
    font-weight: bold; 
}
#expiryDate {
    margin-left: 10px;  
    border: 1px solid #d8d8d8; 
    color: #8a8a8a; 
} 
.poll-container span {
    float: left; 
    margin-top: 15px; 
    margin-left: 10px;   
    padding: 5px; 
    font-size: 14px; 
    border: 1px solid #4b4b4b; 
    border-radius: 5px; 
    cursor: pointer; 
}
.remove-poll-button {
    color: #dd3a48; 
    border: 1px solid #dd3a48 !important; 
}

.add-choice-button {
    color: #1990df; 
    border: 1px solid #1990df !important; 
}

.remove-poll-button:hover {
    color: #dd3a48; 
    border: 1px solid #dd3a48 !important; 
    background-color: #faeaec; 
}

.add-choice-button:hover {
    background-color: #1990df; 
    color: #fff; 
}




/* 
when post-button, post-ui is active, these are
button specs: 
origi: 1d9bf0
hover: 1a8cd8
*/

/* posts */
.post{
    position: relative; 
    padding: 10px; 
    background-color: #ffffff; 
    margin-top: 10px; 
    border-bottom: 1px solid #ccc;
} 

.post:hover {
    background-color: #f7f7f7; 
    cursor: pointer; 
}

.post:hover .post-header {
    /* Apply styles to the post header when the post is hovered */
    background-color: #f7f7f7; /* Change background color */
}

.post:hover .post-content {
    /* Apply styles to the post content when the post is hovered */
    background-color: #f7f7f7;/* Change text color */
}

.post:hover .post-footer {
    /* Apply styles to the post footer when the post is hovered */
    background-color: #f7f7f7; /* Add border to the top */
}
.post:hover .post-metadata .col {
    /* Apply styles to the post footer when the post is hovered */
    background-color: #f7f7f7; /* Add border to the top */
}


.post-header{
    position: relative; 
    background-color: rgb(255, 255, 255); 
    height: 50px; 
    padding: 5px; 
} 
.post-author-pic{
    width: 40px; 
    border-radius: 60%; 
} 
.post-author {
    position: absolute; 
    left: 60px; 
    top: 10px; 
    font-weight: bold; 
    font-size: 15px;
}
.post-content {
    background: #ffffff; 
    padding-top: 10px;
}
.remark {
    position: relative; 
    padding-left: 10px; 
    color: #1a8cd8; 
    font-size: 14px;
    font-weight: bold; 
}
.post-title {
    position: relative; 
    padding-left: 10px; 
    font-weight: bolder;
    font-size: 22px;
} 
.post-actions {
    position: relative; 
    padding-left: 10px; 
}
.post-actions button {
    position: relative; 
    margin-top: -10px; 
    margin-bottom: 30px; 
    width: auto; 
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 14px; 
    font-weight: bold;
    border: 2px solid #1d9bf0; 
    border-radius: 20px; 
    background-color: #1d9bf0; 
    color: #fff; 
} 
.post-actions button:hover{
    outline: #000; 
    background-color: #1a8cd8; 
    border: 2px solid #1a8cd8; 
    color: #fff; 
}
.post-footer{
    position: relative;
    background-color: rgb(255, 255, 255); 
} 
.post-date{
    position: relative; 
    padding-top: 10px; 
    padding-left: 20px; 
}
.post-date li{
    float: left; 
    /* padding-left: 20px;  */
    list-style: none; 
    font-size: 12px; 
} 
.post-metadata {
    padding: 10px; 
    font-size: 12px; 
    font-weight: bold; 
    color: #777; 
} 
.post-metadata i {
    font-size: 12px; 
}
.post-metadata .col {
    background: #ffffff; 
    padding: 5px; 
}
.post-metadata .col:hover {
    /* background: #ebebeb;  */
    cursor: pointer; 
    color: #333; 
} 
 




/* ========================================================================== */
.sidebar-col{
    background: rgb(255, 255, 255); 
    height: 100vh; 
    overflow: hidden;  
} 

.search-row { 
    position: relative;
    padding: 8px; 
    /* background-color: #333; */
}

.search-row i {
    position: absolute; 
    top: 20px; 
    left: 30px; 
    z-index: 100; 
    font-size: 12px; 
 }

.search-box {
    position: relative;
    width: 100%; 
    padding: 10px; 
    padding-left: 45px; 
    border-radius: 30px; 
    border: 1px solid #efefef; 
    background-color: #efefef; 
    font-size: 14px;

    outline-color: #777; 
    outline-width: 1px;  
} 

.search-box:focus{
    /* outline: ; */  
    background-color: #ffffff; 
    border: 1px solid #1a8cd8; 

    outline: none;
    outline-color: #1a8cd8; 
    outline-width: 1px; 
}

.trending-reports {
    position: relative; 
    background-color: #f7f9f9; 
    margin-top: 20px; 
    padding-top: 15px; 
    cursor: default;
    padding-bottom: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.trending-reports h4 {
    font-size: 14px; 
    font-weight: bold; 
    margin-bottom: 20px;
} 

.trending-reports .list-group-item {
    position: relative;
    border-radius: 0px; 
    background-color: #f7f9f9; 
    border: none; 
    height: 75px; 
    font-size: 12px;
} 

.trending-reports .list-group-item:hover{ 
    background-color: #eff1f1; 
    cursor: pointer; 
}
/* report format */ 
.menu {
    position: absolute; 
    top: 10px; 
    right: 10px;  
    width: 30px;
    height: 30px; 
    text-align: center; 
    background-color: #f7f9f9; 
    border: 1px solid #f7f9f9; 
    border-radius: 60%;
}
.menu i { 
    padding-top: 6px; 
    /* padding-top: 10px;   */
    font-weight: bold; 
    font-size: 16px; 
}
.post-menu{
    background-color: transparent; 
    border: none; 
}

.category {

    font-size: 12px;
} 

.keyword {
    font-weight: bold; 
    font-size: 14px;
}


/* ================================================================ */ 

#infinite-scroll {
    /* overflow-y: scroll; */
    /* height: 80vh; Adjust height as needed */
}

#limited-scroll {
    /* overflow-y: scroll; */
    /* height: 80vh; Adjust height as needed */
    /* max-height: 400px; Set maximum height  */
}
 

/* UI Behaviour */ 
/* Default layout for all screen sizes */

.settings-col, .sidebar-col {
    display: block;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Hide the first and third columns */
    .settings-col, .sidebar-col {
        display: none;
    }
} 


/* Media query for smaller yet bigger screens (e.g., iPad) */
@media (max-width: 990px) {
    /* Hide the first and third columns */
    .settings-col, .sidebar-col {
        display: none;
    }
}